.container
  %h2.form-signin-heading Sign In

  = form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin' } do |f|

    = f.label :email, class: 'sr-only', for: 'inputEmail'
    = f.email_field :email, autofocus: true, required: true, placeholder: 'Email Address', class: 'form-control', id: 'inputEmail'
    = f.label :password, class: 'sr-only', for: 'inputPassword'
    = f.password_field :password, autocomplete: :off, required: true, placeholder: 'Password', class: 'form-control', id: 'inputPassword'

    - if devise_mapping.rememberable?
      .checkbox
        = f.check_box :remember_me, value: 'remember-me'
        = f.label :remember_me

    = f.submit 'Sign In', class: 'btn btn-lg btn-primary btn-block'

    = render 'devise/shared/links'
