%h1 Add chat room
= form_for @room do |f|
  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, class: 'form-control'
    = f.label :topic
    = f.text_area :topic, class: 'form-control'
  = f.submit 'Add!', class: 'btn btn-primary'
