%h1= @room.name
%legend= @room.topic
#messages{"data-room-id" => "#{@room.id}"}
  = render @room.messages
%hr/
= form_for @message, url: '#' do |f|
  = hidden_field_tag 'joined_room_id', @room.id
  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control'
    -#%small.text-muted From 2 to 1000 characters
  = f.submit 'Post', class: 'btn btn-primary btn-lg'
