
body.sign-in {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #333;

  .container {
    max-width: 440px;
    padding: 15px 0;
    background: #eee;
    border-radius: 10px;

    .form-signin-heading {
      text-align: center;
      margin-bottom: 10px;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px 0;
      margin: 0 auto;
      .checkbox {
        margin-bottom: 10px;
        font-weight: normal;
      }
      .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
        &:focus {
          z-index: 2;
        }
      }
      input {
        &[type="email"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        &[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        &[type="submit"] {
          cursor: pointer;
        }
      }
    }
  }
}

/* Globals */

html {
  height: 100%;
  background-color: #333;
}

#flash-block {
  color: #fff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  .alert {
    padding: 5px 0;
    margin: 0;
    border-radius: 0;
  }
}

body.cover-body {
  height: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);

  /* Links */

  a {
    color: #fff;
    &:focus, &:hover {
      color: #fff;
    }
  }

  /* Custom default button */

  .btn-secondary {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
    &:hover, &:focus {
      color: #333;
      text-shadow: none;
      /* Prevent inheritance from `body` */
      background-color: #fff;
      border: .05rem solid #fff;
    }
  }

  /* Extra markup and styles for table-esque vertical and horizontal centering */

  .site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  }

  .site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
    padding-top: 100px;
  }

  .cover-container {
    margin-right: auto;
    margin-left: auto;
  }

  /* Padding for spacing */

  .inner {
    padding: 2rem;
  }

  /*
   * Header
   */

  .masthead {
    margin-bottom: 2rem;
  }

  .masthead-brand {
    margin-bottom: 0;
  }

  .nav-masthead {
    .nav-link {
      padding: .25rem 0;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.5);
      background-color: transparent;
      border-bottom: .25rem solid transparent;
      &:hover, &:focus {
        border-bottom-color: rgba(255, 255, 255, 0.25);
      }
      + .nav-link {
        margin-left: 1rem;
      }
    }
    .active {
      color: #fff;
      border-bottom-color: #fff;
    }
  }

  @media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }
    .nav-masthead {
      float: right;
    }
  }

  /*
   * Cover
   */

  .cover {
    padding: 0 1.5rem;
    .btn-lg {
      padding: .75rem 1.25rem;
      font-weight: bold;
    }
  }

  /*
   * Footer
   */

  .mastfoot {
    color: rgba(255, 255, 255, 0.5);
  }

}

/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead, .mastfoot, .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead, .mastfoot, .cover-container {
    width: 42rem;
  }
}
