- flash.to_h.dup.each do |msg_type, message|
  .alert{ class: "alert-#{class_for(msg_type)}", id: "flash-#{msg_type}", 'data-closable': true }
    %button.close{ 'aria-label': 'Close', 'data-dismiss': :alert }
      %span{ 'aria-hidden': :true } &times;
    %i.icon{ class: "fa fa-#{icon_for(msg_type)}" }
    = message.to_s.html_safe
- flash.clear
