- title = content_for?(:title) ? yield(:title) : 'Chat Room'
!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title= title
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ src: 'https://use.fontawesome.com/09b979ea9c.js' }
  %body{ class: "#{ participant_signed_in? ? 'cover-body' : 'sign-in' }" }
    #flash-block= flash_messages
    - if participant_signed_in?
      .site-wrapper
        .site-wrapper-inner
          .cover-container
            .masthead.clearfix
              .inner
                %h3.masthead-brand
                  %a.nav-link{ href: root_path }
                    %i.icon.fa.fa-home
                %nav.nav.nav-masthead
                  %a.nav-link{ href: root_path, class: "#{request.path == root_path ? 'active' : false}" } My Rooms
                  %a.nav-link{ href: rooms_path, class: "#{request.path == rooms_path ? 'active' : false}" } Chat Rooms
                  %a.nav-link{ href: destroy_participant_session_path, 'data-method': :delete } Sign Out
            .inner.cover
              = yield
            .mastfoot
              .inner
                %p
                  %a{ href: 'http://gitlab.com/marlox' } @marlox
    - else
      = yield
